MONGODB=mongodb://myDatabaseUser:D1fficultP%40ssw0rd@localhost:27017/myDefaultDB?authSource=admin
MONGODB_DB=main
MONGODB_TEST_DB=red_integration
RUN_INTEGRATION_TESTS=0
PORT=5000
JWT_SECRET=your_strong_key_here
JWT_AUTH_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
MAX_AGE=604800
SALT=10